<html>
<head>
  <title>{% block title %}Minus-Midterm{% endblock %}</title>
</head>
<body><id="site">Assignment {% block assignmentnumber%}00{% endblock %}</>

<p id="status">Status</p>

{% block status %}
{% endblock %}

<p id="plan">Plan<p>

{% block plan %}
{% endblock %}

<p id="expected-completion-date">Expected Completion Date</p>

{% block date %}
{% endblock %}

<li><a href="http://tfarwell-cs470.herokuapp.com/static/Index.html">Assignment 1</a></li>
<li><a href="http://tfarwell-cs470.herokuapp.com/static/Index.html">Assignment 2</a></li>
<li><a href="http://tfarwell-cs470.herokuapp.com/static/Index.html">Assignment 3</a></li>

</body></html>