<html>
<head>
  <title>{% block title %}Minus-Midterm{% endblock %}</title>
</head>
<body><id="site">Assignment {% block sitenumber%}{% endblock %}</>

<p id="status">Status</p>

{% block status %}
{% endblock %}

<p id="plan">Plan<p>

{% block plan %}
{% endblock %}

<p id="expected-completion-date">Expected Completion Date</p>

{% block date %}
{% endblock %}

<li><a href="site01.html">Assignment 1</a></li>
<li><a href="site02.html">Assignment 2</a></li>
<li><a href="site03.html">Assignment 3</a></li>

</body>
</html>